.job-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  max-width: 60rem;
}

.job-details-nav {
  width: 100%;
  padding-left: 1rem;
}

.job-details-page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.back-link {
  color: var(--text-white, #ffffff);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1rem;
  transition: all 0.2s ease;
}

.back-link:hover {
  opacity: 0.7;
}

.job-main-card {
  background-color: var(--card-gray);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card-junior {
  background-color: var(--accent-green);
  border: 2px solid var(--accent-green);
}

.card-mid {
  background-color: var(--accent-red);
  border: 2px solid var(--accent-red);
}

.card-senior {
  background-color: var(--primary-blue);
  border: 2px solid var(--primary-blue);
}

.job-main-header {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.job-logo {
  width: 3.25rem;
  padding: 0.25rem;
  background-color: var(--text-white);
  border-radius: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.job-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.tag {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.4rem 0.8rem;
  border-radius: 2rem;
  font-size: 0.85rem;
  font-weight: bold;
}

.job-salary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
  padding-top: 1rem;
  background-color: var(--text-white);
  color: var(--bg-black);
  margin: 0 -1rem -1rem -1rem;
  padding: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.job-salary p:nth-child(2) {
  font-weight: bold;
}

.job-description {
  background-color: var(--card-gray);
  border-radius: 1rem;
  padding: 1.5rem;
}

.job-description h3 {
  margin-bottom: 1rem;
}

.job-requirements {
  background-color: var(--card-gray);
  border-radius: 1rem;
  padding: 1.5rem;
}

.job-requirements h3 {
  margin-bottom: 1rem;
}

.job-requirements ul {
  padding-left: 1.5rem;
}

.job-role {
  background-color: var(--card-gray);
  border-radius: 1rem;
  padding: 1.5rem;
}

.job-role h3 {
  margin-bottom: 1rem;
}

.job-details-actions {
  padding: 1rem;
  max-width: fit-content;
  position: sticky;
  bottom: 5rem;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 3rem;
  backdrop-filter: blur(12px);
  border: 2px solid var(--card-gray);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.job-details-btn {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  padding: 1rem 1rem;
  border-radius: 2rem;
  transition: all 0.2s ease;
  font-size: 1.1rem;
  min-width: 8rem;
}

.apply-button {
  color: var(--text-white);
}

.apply-button:hover {
  border-color: var(--text-white);
}

.save-button {
  background-color: var(--text-white);
  color: var(--bg-black);
  border: 2px solid var(--text-white);
}

.save-button:hover {
  opacity: 0.8;
}
