.jobs-container {
  width: 100%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
}

.jobs-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.job-card-link {
  text-decoration: none;
  color: inherit;
  display: block;
  width: 100%;
}

.job-main-card {
  background-color: var(--card-gray);
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.job-main-card:hover {
  transform: translateY(-2px);
  border-color: rgba(255, 255, 255, 0.1);
}

.jobs-header {
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
}

.loading-message {
  text-align: center;
  color: var(--text-muted);
  font-size: 1.1rem;
  font-weight: bold;
  padding: 2rem;
}

.no-results {
  text-align: center;
  color: var(--text-muted);
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
}

.error-message {
  text-align: center;
  color: var(--accent-red);
  font-size: 1.1rem;
  padding: 2rem;
  font-weight: bold;
}

.delete-job-btn {
  top: 1rem;
  right: 1rem;
  background-color: rgba(72, 64, 65, 0.15); /* Faint red background */
  color: var(--bg-black); /* Your global red color */
  border: 1px solid rgba(91, 75, 77, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.85rem;
  font-weight: bold;
  transition: all 0.2s ease;
  width: min-content;
}

.delete-job-btn:hover {
  color: var(--text-white);
  border-color: var(--text-white);
}
