.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.footer {
  text-align: center;
  padding: 1rem;
}

.contact-link {
  color: var(--text);
}
