.app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.footer {
  background-color: var(--bg);
  text-align: center;
  padding: 1rem;
  position: sticky;
  bottom: 0;
  width: 100%;
}

.contact-link {
  color: var(--text-main);
}
