:root {
  --color-slate: #393e46;
  --color-dark-slate: #222831;
  --color-beige: #dfd0b8;
  --color-dark-beige: #948979;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-beige);
  background-color: var(--color-dark-slate);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
