@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");

:root {
  --bg-black: #000000;
  --text-white: #ffffff;
  --primary-blue: #5324fd;
  --accent-red: #f5001e;
  --accent-yellow: #fcc636;
  --card-gray: #1c1c1e;
  --text-muted: #a0a0a5;
  color-scheme: dark;
  background-color: var(--bg-black);
  color: var(--text-white);

  font-family: "Satoshi", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
