:root {
  /* https://coolors.co/palette/353535-3c6e71-ffffff-d9d9d9-284b63 */
  --graphite: #353535;
  --stormy-teal: #3c6e71;
  --dust-grey: #d9d9d9;
  --yale-blue: #284b63;

  color-scheme: light dark;

  color: white;
  background-color: var(--graphite);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
